# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
bin/
include/
lib/
pip-selfcheck.json

# IDE specific files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Log files
*.log

# Environment-specific files
.env
