<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Momech Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content=" Website " name="keywords">
    <meta content=" Website " name="description">

    <!-- Favicon -->
    <link href="/app/static/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <!-- CSS Libraries -->

    <link href="/static/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <!-- Top Bar Start -->
    <div class="top-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="logo">
                        <a href="{{ url_for('main.home') }}">
                            <h1>Momech<span>Auto</span></h1>

                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 d-none d-lg-block">
                    <div class="row">
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="far fa-clock"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Opening Hours</h3>
                                    <p>Mon - Fri, 8:00 - 9:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="fa fa-phone-alt"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Call Us</h3>
                                    <p>+233 509 914 728</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Email Us</h3>
                                    <p>momechautoservices@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="nav-bar">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="{{ url_for('main.home') }}" class="nav-item nav-link active"><b>Home</b></a>
                        <a href="{{ url_for('main.about') }}" class="nav-item nav-link"><b>About</b></a>
                        <a href="{{ url_for('main.service') }}" class="nav-item nav-link"><strong>Service</strong></a>
                        <a href="{{ url_for('main.location') }}" class="nav-item nav-link"><strong>Service
                                Points</strong></a>
                        <a href="{{ url_for('main.contact') }}" class="nav-item nav-link"><strong>Contact</strong></a>
                        <a href="{{ url_for('main.login') }}" class="nav-item nav-link"><strong>Login</strong></a>
                        <a href="{{ url_for('main.register') }}" class="nav-item nav-link"><strong>Create an
                                Account</strong></a>


                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->


    <!-- Carousel Start -->
    <div class="carousel">
        <div class="container-fluid">
            <div class="owl-carousel">
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="{{ url_for('static', filename='img/engine-1.jpg') }}" alt="Engine 1">

                    </div>
                    <div class="carousel-text">
                        <h3>CAR MAINTENANCE SERVICES</h3>
                        <h1>Engine Overheating
                        </h1>

                        <a class="btn btn-custom" href="">Explore More About us</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="{{ url_for('static', filename='/img\engine-2.jpg') }}" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h3>Car Maintenance Services</h3>
                        <h1>Engine Oil Leaks</h1>

                        <a class="btn btn-custom" href="">Explore More About us</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="{{ url_for('static', filename='/img\engine-3.jpg') }}" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h3>Car Maintenance Services</h3>
                        <h1>Engine Misfires</h1>

                        <a class="btn btn-custom" href="">Explore More About us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <p>What We Do?</p>
                <h2>Roadside Assistance Services</h2>
            </div>

            <p> "Momech (Mobile Mechanic) Auto Services" is a comprehensive roadside assistance service designed to
                provide prompt and efficient support to drivers encountering vehicular issues on the road. As a
                specialized service, Momech serves as a vital intermediary, seamlessly connecting drivers of broken-down
                vehicles with the nearest available mechanics or service providers. With a focus on swift response and
                effective solutions, Momech ensures that drivers facing unexpected breakdowns or emergencies can quickly
                access the assistance they need, minimizing inconvenience and promoting road safety. By leveraging
                technology and a network of trusted automotive professionals, Momech Auto Services delivers peace of
                mind to drivers, offering reliable support whenever and wherever it's needed.
            </p>

            <p>Our Services include: </p>
            <ul>
                <li><i class="fa fa-wrench"></i> Flat Tire Assistance: Momech experts are equipped to handle flat tires
                    efficiently, whether it involves changing a tire with a spare or providing tire repair services
                    whenever possible.</li>
                <li><i class="fa fa-car-battery"></i> Battery Jump-Start: Our skilled personnel are adept at
                    jump-starting vehicles with dead batteries, ensuring drivers can quickly get back on the road
                    without delays.</li>
                <li><i class="fa fa-gas-pump"></i> Fuel Delivery: Running out of fuel is no longer a cause for concern
                    with Momech's fuel delivery service, providing drivers with a limited amount of fuel to reach the
                    nearest gas station hassle-free.</li>
                <li><i class="fa fa-key"></i> Lockout Service: Accidentally locking keys inside a vehicle or facing
                    key-related issues is met with swift resolution through our lockout service, ensuring drivers regain
                    access to their vehicles promptly.</li>
                <li><i class="fa fa-tools"></i> Minor Mechanical Repairs: Momech offers on-the-spot assistance with
                    minor engine issues, belt or hose replacements, and electrical problems, ensuring minimal disruption
                    to your journey.</li>
                <li><i class="fa fa-wrench"></i> Emergency Roadside Repairs: Our team provides temporary fixes for
                    various roadside issues, including patching leaking radiator hoses or securing loose parts, enabling
                    drivers to continue their journey safely.</li>
                <li><i class="fa fa-truck"></i> Winching and Recovery: When faced with challenging terrain or obstacles,
                    Momech offers winching and recovery services to assist drivers in safely navigating out of ditches,
                    mud, snow, or other roadside impediments.</li>
                <li><i class="fa fa-snowflake"></i> Extrication: Should a vehicle become stuck in snow, mud, or sand,
                    Momech's extrication service offers prompt assistance to free the vehicle and get it back on the
                    road.</li>
                <li><i class="fa fa-hotel"></i> Trip Interruption Coverage: For breakdowns occurring far from home,
                    Momech may offer trip interruption coverage, providing reimbursement for lodging, meals, and
                    transportation expenses until repairs can be completed.</li>
            </ul>



            <!-- Facts Start -->
            <div style="display: flex; justify-content: center;">
                <div class="facts" data-parallax="scroll" data-image-src="img/facts.jpg" style="width: 100%;">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 col-md-6">
                                <div class="facts-item">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <div class="facts-text">
                                        <h3 data-toggle="counter-up">25</h3>
                                        <p>Service Points</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer Start -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-contact">
                                <h2>Get In Touch</h2>
                                <p><i class="fa fa-map-marker-alt"></i>Accra, Ghana</p>
                                <p><i class="fa fa-phone-alt"></i>+233 509 914 728</p>
                                <p><i class="fa fa-envelope"></i>momechautoservices@gmail.com</p>
                                <div class="footer-social">
                                    <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-link">
                                <h2>Links</h2>
                                <a href="{{ url_for('main.about') }}">About Us</a>
                                <a href="{{ url_for('main.contact') }}">Contact Us</a>
                                <a href="{{ url_for('main.service') }}">Our Service</a>
                                <a href="{{ url_for('main.location') }}">Service Points</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">

                        </div>
                        <div class="col-lg-3 col-md-6">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer End -->

            <!-- Back to top button -->
            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

            <!-- Pre Loader -->
            <div id="loader" class="show">
                <div class="loader"></div>
            </div>

            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script src="/static/lib/easing/easing.min.js"></script>
            <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="/static/lib/waypoints/waypoints.min.js"></script>
            <script src="/static/lib/counterup/counterup.min.js"></script>

            <!-- Contact Javascript File -->
            <script src="mail/jqBootstrapValidation.min.js"></script>
            <script src="mail/contact.js"></script>

            <!-- Javascript -->
            <script src="/static/js/main.js"></script>

</body>

</html>